.container-fluid{
    min-height: 100vh;
}
.chart-box {
    flex: auto;
}
.wrapper{
    background-color: #F2EAE1;
}
.list-unstyled .one{
    color: rgb(245, 243, 243);
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    font-size: 12px;
    background-color: #E15B49;

}
.fa-sign-out{
    color: rgb(245, 243, 243);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius:50%;
    text-align: center;
    font-size: 12px;
    background-color: #000;
    margin-right: 10px;
}
.log a{
    text-decoration: none;
    color: #000;
}
.second-box .first-box .dash p{
    color: rgb(245, 243, 243);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    background-color: #EF5744;
    
}
.second-box .first-box .dash i{
    color: rgb(218, 213, 213);
    font-size: 22px;
    width: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
}
.chart-box i{
    font-size: 7px;
    width: 13px;
    height: 13px;
    line-height: 13px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    background-color: rgb(129, 191, 187);
    
}
.chart-box .fa-arrow-alt-down{
    background-color: #EF5744;
}
.chart-box span{
    color: rgb(175, 172, 172);
    border-bottom: 1px solid rgb(175, 172, 172);
}
.upgrade{
    border-radius: 15px;
    background-color: #F2EAE0;

}
.upgrade #up{
    color: #EF5744;
    font-size: 20px;
}
.upgrade #now{
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #EF5744;
      }
      .upgrade #pro{
        color: #a7a7a1;
    }
    .updates{
        font-size: 10px;
        color: #a7a7a1; 
    }
    #date{
        border-radius: 15px;
    }
    .board p{
        font-size: 10px;
        color: #a7a7a1; 
    }
    .people-de h5{
        font-size: 10px;
        font-weight: bold;
    }
    .channels{
        background-color: #e9f5f3;
        width: 85%;
        border-radius: 8px;
    }
    .channels .cards{
        position: relative;
    }
    .channels .cards .chan{
        width: 150px;
        padding: 10px;
        margin: 5px;
        margin-left: 50px;
    }
    .channels .cards .cad{
        width: 150px;
        padding: 10px;
        margin: 10px;
        text-align: center;
        border-radius: 8px;
        background-color: #fff;
        
    }
    .channels .cards i{
        font-size: 15px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }

    .cad .fa-dribbble{
        background-color: #f45d83;
    }
    .cad .fa-behance{
        background-color: #5183ca;
    }
    .cad .fa-instagram{
        background-color: #f9993e;
    }
    .cad .fa-pinterest-p{
        background-color: rgb(254 92 55);
    }
    .channels .carrd{
        width: 150px;
        padding: 20px;
        margin: 10px;
        text-align: center;
        border-radius: 8px;
        background-color: rgb(110, 188, 182);
    
    }
    .channels .carrd i{
        font-size: 15px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        color: #000;
        background-color:#fff;
        
    }